@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Orbitron';

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,header,nav,aside,section,article,footer,a { margin:0; padding:0; box-sizing:border-box; }
table { border-collapse:collapse; border-spacing:0; }
input,select { vertical-align:top; padding:0; }
fieldset,img { border:0; vertical-align:top; }
address,caption,cite,code,dfn,var { font-style:normal; font-weight:normal; }
ol,ul { list-style: none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight:normal; }
q:before,q:after { content:""; }
a { outline:0; text-decoration:none; color:#666; }
em { font-style:normal; }
body { font:12px /1.4 roboto, arial, sans-serif; color:#666; overflow-x:hidden; }

/* common */
.h { position:absolute; top:-99999px; }
h2 { position:relative; font:300 30px roboto; color:#F05F40; transition:all 0.3s; text-align:center; }
h1 { font:700 50px roboto; color:#fff; margin-bottom:20px; }
h1:after {content: '';display: block;width: 50px;height: 2px;margin: 15px auto 25px;background: #f05f40;}
h3{text-transform:uppercase;}
.invisible{width:1px;height:1px;margin:-1px;padding:0;position:absolute;border:0;clip:rect(0,0,0,0);white-space:nowrap;overflow:hidden;}

/* scrollbar */
::-webkit-scrollbar-track{background:#f1f1f1;-webkit-box-shadow:inset 0 0 3px rgba(0,0,0,.3);box-shadow:inset 0 0 3px rgba(0,0,0,0.3);border-radius:3px;}
::-webkit-scrollbar{width:6px;}
::-webkit-scrollbar:horizontal{height:6px;}
::-webkit-scrollbar-thumb{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);box-shadow:inset 0 0 4px rgba(0,0,0,0.3);-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:rgba(0,0,0,.3);transition:all 0.3s ease-in;}
::-webkit-scrollbar-thumb:hover{background-color:rgba(61, 55, 58, 0.7);}
::-webkit-scrollbar-button{display:none;}
::-webkit-scrollbar-track-piece{background:0 0;}
::-webkit-scrollbar-corner{display:none;}

/*layout*/
#header { position:fixed; width:100%; padding:25px; z-index:10; transition:all 0.3s; }
#container1 { position:relative; width:100%; height:100vh; padding:0 10px; background:url(../img/1.mmca/images/header_bg.jpg) no-repeat; background-size:cover; background-position:center center; box-shadow:0 0 20px 0 rgba(0, 0, 0, 1); z-index:1; }
#container2 { position:relative; padding:20px 10px; background:#F05F40; background-size:100% 100%; text-align:center; z-index:0; }

.grid { position:relative; width:1200px; min-width:1140px; margin:0 auto; overflow:hidden; }
.header-inner.grid { position:relative; width:1200px; padding:0 10px; overflow:hidden; display:table; table-layout:fixed; }
.header-inner.grid>* { display:table-cell; vertical-align:middle; }

/*header_grid*/
.logo { width:180px; position:relative; }
.top_nav{overflow:hidden;}
.top_nav ul {display:table;table-layout:fixed;margin:0 auto;float:right;}
.top_nav ul li { display:table-cell; text-transform:uppercase; }
.top_nav ul li a { display:block; font:400 14px roboto; color:#fff; padding:12px 40px 12px 0; }
.top_nav ul li a:hover,
.top_nav ul li a:active { color:#F05F40; }

#header.on { background:#3d373a; padding:10px 0; opacity: 0.9; border-bottom:1px solid #3d373a; }
#header.on .logo h1 { font:300 26px roboto; }

/*container1*/
#container1 .grid{display:table;height:100%;table-layout:fixed;}
#container1 .con1_text{display:table-cell;vertical-align:middle;}

.con1_text { width:100%; text-align:center; }
/*.con1_line { display:inline-block; width:50px; height:2px; margin-bottom:25px; background:#F05F40; }*/
.con1_text p { font:300 18px roboto; color:#fff; }
.con1_text p+p { color:#fff; margin:4px auto 24px;}
.con1_text > *:not(a) { text-shadow:5px 3px 13px rgba(70, 58, 68, 0.47); }
.con1_text a { display:inline-block; min-width:180px; padding:12px 30px; font:500 14px roboto; color:#fff; background:#524147; border-radius:20px; transition:all 0.3s; }
.con1_text a + a { margin-left:6px; background:#F05F40; }
.con1_text a:hover { background:#42353a; }
.con1_text a + a:hover { background:#ee4b28; }

.explore { position:absolute; bottom:40px; left:50%; margin-left:-18px; display:inline-block; z-index:4; }
.explore .mouse_img { display:block; width:36px; height:54px; position:relative; margin:0 auto; border:2px solid #fff; border-radius:28px; box-sizing:border-box; }
.explore .mouse_img .mouse_wheel { display:block; width:5px; height:15px; position:relative; top:10%; left:50%; margin-left:-2.5px; background:#fff; border-radius:2.5px; animation:ani_mouse 1.5s ease infinite; }

/*container2*/
#container2 { width:100%; display:flex; margin:0 auto; }
#container2 .grid{overflow:hidden;}
#container2 .grid > div { padding:4px 4px; width:33.333333%; height:220px; float:left; box-sizing:border-box; }
#container2 .grid > div .box { width:100%; height:100%; background:#999; overflow:hidden; position:relative;} 
#container2 .grid > div .box img { width:100%; height:100%; opacity:0.8; } 
#container2 p { font:25px roboto; margin-bottom:70px; color:rgba(255,255,255,0.7); }
#container2 p:hover { color:rgba(255,255,255,1); }

/* cover */
#container2 .grid > div .box a{display:block; width:100%; height:100%; font-size:13px; line-height:16.307692; color:#fff; text-decoration:none;}
#container2 .grid > div .box a:active,
#container2 .grid > div .box a:hover .cover { height:100%; }
#container2 .grid > div .box a .cover { width:100%; position:absolute; top:0; background-color:rgba(0,0,0,0.7); overflow:hidden; height:0; }
#container2 .grid > div .box a .cover .txt { position:absolute; top:50%; width:100%; text-align:center; transform:translate(0, -50%); color:#fff; }
#container2 .grid > div .box a .cover h3 { font-size:14px; line-height:25px; margin:0 auto 10px; width:200px; }

/* tooltip */
.tooltip{display:inline-block;position:relative;z-index:9;top:-69px;left:96px;}
.tooltip .btn-tooltip{width:14px;height:14px;margin-left:5px;border:.8px solid #fff;position:relative;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;background:transparent;display:inline-block;cursor:pointer;}
.tooltip .btn-tooltip:before{content:'';display:block;width:2px;height:4px;position:absolute;top:2px;left:5px;background:#fff;}
.tooltip .btn-tooltip:after{content:'';display:block;width:2px;height:2px;position:absolute;top:7px;left:5px;background: #fff;}
.tooltip .btn-tooltip:focus{outline:none;}
.tooltip .tooltip-pop{display:none;width: 440px;padding:14px;position:absolute;left: -190px;top: -60px;font-size:12px;line-height:1.4;background:#b59a7d;z-index:1;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.tooltip .tooltip-pop:after{content:'';display:inline-block;width: 8px;height: 8px;position:absolute;bottom: -4px;left:198px;background:#b59a7d;-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.tooltip .tit{display:inline-block;margin-bottom:4px;color: #f8f8f8;font-size: 10px;}
.tooltip .btn-tooltip span{display:inline-block;margin: 0px 0px 0px 13px;color:#fff;position: relative;margin-top: 0;}

@keyframes ani_mouse {
	0% { opacity:1; top:10px; height:15px; }
	25% { opacity:1; top:20px; height:10px; }
	50% { opacity:0; top:30px; height:0px; }
	75% { opacity:0; top:20px; height:0px; }
	100% { opacity:0; top:10px; height:15px; }
}

/******************************
         other device
******************************/
/* pc midium1 size */
@media screen and (max-width:1200px){
}

/* pc midium3 size */
@media screen and (max-width:1024px){

}

/* tablet + smartphone */
@media screen and (max-width:1024px){

}
/* smartphone */
@media screen and (max-width:480px){
	::-webkit-scrollbar-track{background:transparent;}
	::-webkit-scrollbar{width:2px;}
	::-webkit-scrollbar:horizontal{height:2px;}
	::-webkit-scrollbar-thumb{background-color:rgb(232, 99, 69);}

	.logo{margin-top:3px;text-align:right;margin-top:0;-webkit-box-flex:1;-moz-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}
	h2{font:700 16px roboto;}
	h1{font-size:16px;}
	h1:after {margin:12px auto 0;}
	.grid{width:100%;min-width:auto;}
	#header{width:100%;height:calc(100vh - 25px);display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-align-items:start;align-items:start;}
	.header-inner.grid{display:flex;width:auto;height:100%;-webkit-box-orient:vertical;-ms-flex-direction:column;flex-direction:column;margin:0;position:relative;}
	.header-inner.grid>*{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;}
	.top_nav{margin-top:16px;height:100%;}
	.top_nav ul{margin:0;overflow-x:visible;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-lines:multiple;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-orient:vertical;-ms-flex-direction:column;flex-direction:column;}
	.top_nav ul li{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-flex:1;-moz-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}
	.top_nav ul li{-webkit-align-items:center;align-items:center;}
	.top_nav ul li a{font-size:30px;padding:9px 18px 8px 0;text-shadow:5px 3px 13px rgba(70, 58, 68, 0.74);}
	.top_nav ul li+li a:before{margin:3px 14px;content:none;display:inline-block;width:3px;height:3px;background:#fff;}
	#container1{position:static;}
	#container1 .con1_text{display:none;vertical-align:bottom;padding:0 0 130px;}
	.con1_text p{font-size:20px;}
	.explore{display:none;top:49px;right:25px;bottom:auto;left:auto;z-index:10;}
	#container1 .grid{position:static;}
	#container2 .grid>div{width:100%;height:230px;}
	.tooltip{top:-74px;left:106px;}
	.tooltip .tooltip-pop{width:270px;top:-70px;background:#645050;word-break:keep-all;}
	.tooltip .tooltip-pop:after{background:#645050;}
	.tooltip .tooltip-pop p{font-size:11px !important;}

	#header.on{width:100%;height:auto;padding:30px 14px 18px;}
	#header.on .logo{display:none;width:160px;margin-top:18px;-webkit-align-items:center;align-items:center;-webkit-box-flex:1;-moz-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}
	#header.on h2{font:700 18px roboto;width:120px;}
	#header.on .header-inner.grid{-webkit-box-orient:horizontal;-ms-flex-direction:row;flex-direction:row;}
	#header.on .header-inner.grid{width:100%;}
	#header.on .top_nav{margin-top:0;width:100%;}
	#header.on .top_nav ul{padding:5px 0 5px;-webkit-box-orient:horizontal;-ms-flex-direction:row;flex-direction:row;overflow-x:auto;-webkit-box-lines:single;-ms-flex-wrap:nowrap;flex-wrap:nowrap;}
	#header.on .top_nav ul li{width:100%;margin:0 0;}
	#header.on .top_nav ul li a{font-size:16px;}
	#header.on+#container1 h1{font-size:32px;}
	#header.on+#container1 .con1_text{vertical-align:bottom;display:table-cell;}
	#header.on+#container1 .con1_text a{border-radius:30px;min-width:350px;}
	#header.on+#container1 .con1_text a span{vertical-align:3px;}
	#header.on+#container1 .explore{display:none;}
}
/* Galaxy S5, Iphone5 */
@media screen and (max-width:360px){
	.top_nav ul li a{font-size:25px;}
	#container2 .grid>div{height:180px;}
	#header.on+#container1 .con1_text a{min-width:300px;}
	#container1 .con1_text{display:none;vertical-align:bottom;padding:0 0 100px;}
	#header.on+#container1 .con1_text p{font-size:14px;}
	#header.on .top_nav ul li a{font-size:14px;}
	.tooltip{top:-60px;left:75px;}
}