@charset "utf-8";

/* reset */
body {
    font:normal 12px '맑은 고딕', Dotum, "Apple SD Gothic Neo Medium", AppleGothic, sans-serif;
    line-height:1.6;
    color:#666666;
    background-color:#fff;
    margin:0;
    padding:0;
}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
    margin:0;
    padding:0;
}
ul, ol {list-style:none;}
img {border:0;}
a {text-decoration:none; color:#666;}
table {border-collapse:collapse; width:100%;}
caption {visibility: hidden; height: 0;}