<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hello world!</title>
    <link rel="stylesheet" media="all" href="css/reset.css" />
    <link rel="stylesheet" media="all" href="css/style.css" />
    <link rel="stylesheet" media="all" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" media="all" href="bootstrap/css/bootstrap-responsive.css" >
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/custom.js"></script>
</head>

<body>
<div class="login">
    <h2>로그인</h2>
    <p>로그인을 위해 아래 정보를 입력해 주십시오.</p>
    <form action="입력한 정보를 보낼 서버주소" method="get">
        <fieldset>
            <div class="row_input">
                <label for="email">이메일 주소</label>
                <input id="email" type="email" placeholder="이메일 주소" />
            </div>
            <div class="row_input">
                <label for="password">비밀번호</label>
                <input id="password" type="password" placeholder="비밀번호" />
            </div>
            <div class="row_input checkbox">
                <input id="login_check" type="checkbox" />
                <label for="login_check">로그인 유지</label>
            </div>
        </fieldset>
        <div class="btn_wrap">
            <button type="submit" class="btn">로그인</button>
        </div>  
    </form>
</div>

</body>
</html>