@charset "utf-8";

/* chat */
html { width:100%; height:100%; }
body { width:100%; height:100%; overflow:hidden; }
a { display:block; }
button { background-color:transparent; border:0; vertical-align:middle; cursor:pointer; padding:0; }
textarea:focus,
button:focus { 
    outline:-webkit-focus-ring-color auto 0;
    outline-color:-webkit-focus-ring-color;
    outline-style:auto;
    outline-width:auto;
}
header { width:100%; height:54px; background-color:#222; position:fixed; z-index:100; }
main { min-height:100%; }
.wrap > footer { bottom:0; left:0; right:0; position:fixed; z-index:100; }

/* header */
.hidden { visibility:hidden; height:0; display:block; }
.wrap header > button { position:absolute; top:0; right:0; width:54px; height:54px; border:0; background-color:transparent; border-radius:0; cursor:pointer; }
header .btn_main { left:0; overflow:hidden; }
header .title { display:inline-block; width:100%; text-align:center; vertical-align:middle; font-size:18px; line-height:3; color:#fff; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
header .btn_menu { right:0; }
.icon_wrap { font-size:0; }
.icon_wrap span { content:""; display:inline-block; text-align:center; width:19px; height:2px; border-radius:1px; background-color:#000; }
.btn_main i { font-size:22px; color:#fff; }
.btn_menu i { font-size:24px; color:#fff; }
.wrap > aside {}
.popup { position:fixed; top:0; right:0; background-color:rgba(0,0,0,0); transition:all 0.3s ease; }
header .side_menu { position:absolute; top:0; bottom:0; right:-270px; width:270px; background-color:#fafafa; transition:all 0.3s ease; }
header .side_menu > * { background-color:#fafafa; }
header .side_menu > header { position:absolute; width:100%; border-bottom:1px solid #e6e6e6; }
header .side_menu > header > .side_title { font-size:14px; line-height:54px; padding-left:20px; color:#000; }
.btn_close {  }
.btn_close .icon_wrap { padding:10px; }
.btn_close span { text-align:left; background-color:#474e60; }
.btn_close span:first-child { transform:rotate(45deg); margin-top:-1px; }
.btn_close span:nth-child(2) { margin-top:-2px; transform:rotate(-45deg); margin-top:-3px; }
header .side_menu > main { position:absolute;top:54px; left:0; right:0; bottom:0; }
.member_list { }
.member_list > li { padding:13px 20px; }
.member_list .profile { display:inline-block; vertical-align:middle; }
.member_list .txt { margin-left:4px; display:inline-block; vertical-align:middle; }
.member_list .txt .name { line-height:1.4; }
.member_list .txt .comment { line-height:1.4; font-size:11px; }
.member_add strong { display:inline-block; font-size:13px; vertical-align:middle; margin-left:4px; color:#000; }
header .side_menu > footer { height:54px; border-top:1px solid #e6e6e6; font-size:0; }
header .side_menu > footer:before { content:''; display:block; width:1px; height:13px; background-color:#cacaca; position:absolute; top:22px; left:50%; }
header .side_menu > footer button { display:inline-block; height:100%; color:#666; width:50%; font-size:13px; }

/* main */
.msg_view { overflow-x:hidden; overflow-y:auto; position:absolute; top:54px; bottom:120px; left:0; right:0; background:url(../img/bg_msg_view.png) repeat 2px 2px; font-size:12px; color:#000; }

.msg_system { position:relative; max-width:100%; overflow:hidden; text-align:center; margin:13px 20px; }
.msg_system.visit { font-size:11px; background-color:rgba(100,100,100,0.1); border-radius:2px; padding:2px 20px; }
.msg_system.date { z-index:1; }
.msg_system.date:before { display:block; content:""; border-top:1px solid #ddd; position:relative; top:10px; z-index:-1; }
.msg_system.date .txt { display:inline; background:#fff; padding:0 6px; z-index:1; }
.msg_my_wrap { overflow:hidden; }
.msg_other_wrap { overflow:hidden; }
.msg_my { float:right; position:relative; max-width:100%; padding:0 14px 0 60px; }
.msg_other { float:left; position:relative; max-width:100%; padding:0 20px 0 60px; margin-bottom:20px; margin-right:75px; }
.profile { width:40px; height:40px; border-radius:50%; overflow:hidden; }
.profile img { width:100%; height:100%; }
.msg_view .profile { position:absolute; top:4px; left:8px; }
.name { display:block; font-size:13px; font-weight:bold; line-height:1.8; }
.aside { display:none; }

/* msg txt */
.txt_box { position:relative; margin-bottom:10px; display:inline-block; }
.txt_box .txt { vertical-align:bottom; padding:6px 14px; display:inline-block; color:#333; border-radius:10px; border:1px solid rgba(100,100,100,0.1); /*box-shadow: 1px 1px 1px 0 rgba(100,100,100,0.4);*/ }
.txt_box:before { content:''; display:block; width:10px; height:10px; background:url('../img/svg/arrow_other.svg') no-repeat 0 0; position:absolute; top:0; left:-5px; }
.msg_my .txt_box:before { content:''; display:block; width:10px; height:10px; background:url('../img/svg/arrow_my.svg') no-repeat 0 0; position:absolute; top:0; left:auto; right:-5px; }
.msg_my .txt_wrap { text-align:right; }
.msg_my .txt { background-color:#f5f697; }
.msg_other .txt { background-color:#7bdee4; }

/* msg img */
.img_box { position:relative; margin-bottom:10px; max-width:200px; display:inline-block; }
.img_box .img { vertical-align:bottom; border-radius:5px; overflow:hidden; }
.img_box .img > img { display:block; width:100%; }
.msg_my .img_wrap { text-align:right; }

/* msg aside */
.txt_wrap .aside, 
.img_wrap .aside { font-size:11px; color:#555; line-height:1.4; margin-left:8px; margin-right:8px; position:absolute; bottom:2px; left:100%; width:70px; }
.msg:last-child .aside { display:block; }
.msg_my .aside { bottom:0; left:auto; right:100%; text-align:right; }

/* 메세지 입력 영역 */
.input_wrap { position:absolute; bottom:0; left:0; right:0; height:120px; box-shadow: 0 1px 3px 1px rgba(100,100,100,0.4); z-index:2; }
.input_add { background-color:#fafafa; border-bottom:1px solid rgba(70,70,70,0.1); padding:8px 6px; }
.input_add li { display:inline-block; vertical-align:middle; text-align:center; padding:0 8px; }
.input_add li i { font-size:20px; color:#aaa; }
.input_msg textarea { width:100%; height:80px; border:0; padding:8px 84px 0 8px; box-sizing:border-box; font-family:'맑은 고딕', Dotum, sans-serif; font-size:12px; resize:none; overflow:hidden; }
.btn_send { position:absolute; bottom:10px; right:10px; width:60px; height:60px; font-weight:bold; border:0; background-color:#dcd8cc; color:#ab9d9d; border-radius:2px; cursor:pointer; transition:all 0.3s; border:1px solid rgba(100,100,100,0.1); }
.btn_send:hover { color:#555; }

/* footer */

/* mCustomScrollbar */
main .mCSB_scrollTools { top:6px; bottom:6px; }
main .mCSB_inside > .mCSB_container { margin-right:10px; }